@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    /* text-align: center; */
    background-color: #d0d6b3;
}

.title {
    font-size: 10vmin;
    color: #143109;
    height: 10vh;
    font-family:'Caveat', 'sans-serif';
    margin : 5vmin;

}

.title:hover{
    transform: translateY(-5px);
}

.container {
    /* height : 70vh; */
    display: flex;
    justify-content: center;
    
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vmin;
    
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1.5vmin;
    border: none;
    box-shadow: 0 0 1vmin rgba(0, 0, 0, 0.5);
    font-size: 8vmin;
    background-color: #efefef;
}

.box:hover {
    box-shadow: 0 0 1.5vmin rgba(0, 0, 0, 0.5);
}

.btn-light {
    background-color: #143109;
    color: #f7f7f7;
    height: 6vmin;
    font-size: 2vmin;
    margin-top: 3rem;
    border-radius: 1vmin;
    box-shadow: 0 0 1.5vmin rgba(0, 0, 0, 0.5);
    border-color: #143109;
    margin-left: 1.5rem;
    
}

.btn:hover {
    box-shadow: 0 0 1.5vmin rgba(0, 0, 0, 0.5);
}


.box.X {
    color: red;
}

.box.O {
    color: black;
}

.msg-container {
    margin: 2rem;
    text-align: center;
}

.msg-title {
    margin: 0.5vmin;
    font-size: 4vmin;
}

.hide {
    display: none;
}

.turn-msg{
    margin : 5vmin;
    text-align: center;
    font-family: "Caveat";
    font-size: 5vmin;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 1rem; */
}

.buttons{
    text-align: center;
}